@import url('https://cdn.jsdelivr.net/gh/taveevut/lazysource@1.0.3/thai-web-fonts/CSChatThaiUI/CSChatThaiUI.css');

html,
body {
  font-family: "CS ChatThaiUI", sans-serif !important;
}

.app-menu__item_hd {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-left: 3px solid transparent;
  color: #2a6cc5 !important;
  text-decoration: none !important;
}

.option-link {
  display: inline-block !important;
  white-space: nowrap !important;
  text-align: center !important;
}

.file-drop-zone {
  overflow: hidden;
}

.file-preview {
  border: 2px solid #ced4da !important;
  overflow: hidden !important;
  border-radius: 4px;
}

.file-preview .fileinput-remove {
  top: 5px !important;
  right: 6px !important;
}
